@import "./scss-variables";
@import "sass-rem";

.contNosReas {
	margin-top: -15vh;
	width: 70vw;
	margin-left: auto;
	margin-right: auto;
	.titre {
		text-align: left;
		h1 {
			font-weight: bold;
			font-size: rem(24px);
			letter-spacing: 0.05em;
			span {
				font-size: rem(36px);
				color: $vert-nav;
			}
		}
		p {
			font-size: rem(17px);
			letter-spacing: 0.05em;
		}
	}
	.petiteDesc {
		letter-spacing: 0.05em;
		text-align: justify;
	}

	.contCTA {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 20px;
		p {
			color: $vert-nav;
			font-weight: normal;
			font-size: rem(24px);
			margin-top: 0;
		}
		img {
			margin-left: 15px;
			width: 15%;
			// margin-top: 22px;
			margin-bottom: auto;
		}
	}
}
